// ===============
// colors palette
// ===============
:root {
  --primary: #810725; /* Burgundy */
  --secondary: #9f0e31; /* Vivid Burgundy */
  --accent: #c31f48; /* Bright Maroon */
  --accent-dark: #820000; /* Deep Maroon */
  --red-dark: #650006; /* Rosewood */

  --text-primary: #000000;
  --text-underline: #f1cdaa;
  --yellow-bg: #f3d6b9;
  --white: #fff;
  --border: #d6d6d6;
  --green: #00ba00;
}
