.menu {
  // .menu__icon
  &__icon {
  }
  // .menu__body
  &__body {
    @media (max-width: $tablet) {
      position: fixed;
      width: 100%;
      height: 100%;
      left: -100%;
      top: 0;
      overflow: auto;
      padding: toRem(120) toRem(15) toRem(30) toRem(15);
      background: var(--white);
      transition: left 0.3s;
      z-index: 100;
      &::before {
        content: "";
        position: fixed;
        width: 100%;
        height: toRem(70);
        left: -100%;
        top: 0;
        transition: left 0.3s;
        z-index: 2;
      }
      .menu-open & {
        left: 0;
        &::before {
          left: 0;
        }
      }
    }
  }
  // .menu__list
  &__list {
    @media (max-width: $tablet) {
    }
  }
  // .menu__item
  &__item {
  }
  // .menu__link
  &__link {
    @media (max-width: $tablet) {
    }
  }
}

//Burger Icon
.icon-menu {
  display: none;
  @media (max-width: $tablet) {
    display: block;
    position: relative;
    width: toRem(45);
    height: toRem(33);
    z-index: 101;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      position: absolute;
      width: 100%;
      height: toRem(7);
      left: 0;
      background-color: #000;
      border-radius: 3.5px;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
      width: 25px;
    }
    span {
      top: calc(50% - toRem(3.5));
      width: 35px;
      background-color: var(--secondary);
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - toRem(3.5));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - toRem(3.5));
        transform: rotate(45deg);
        width: 100%;
      }
    }
  }
}
